<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.svg" type="image/x-icon">
    <title>TaskMaster | Home</title>
    
    <!-- link bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
    <main>
        <div class="containerMenu">
            <header class="header">

                <div class="headerImgProfile">
                    <% if (user.img_profile) { %>
                        <img src=..\<%= user.img_profile %> alt="Profile Image">
                    <% } %>   
                </div>

                <div class="headerTitle">
                    <h1>TaskMaster</h1>
                    <p><%= user.name.split(" ").slice(0, 2).join(" ") %></p>
                    <a href="/user/:id/logout">
                        <i class="bi bi-box-arrow-left"></i>
                        Logout
                    </a>
                </div>

            </header>

            <div class="headerLine"></div>



            <nav class="nav">
                <div class="navTaskToday">
                    <h2 class="taskTodayBtn">
                        <i class="bi bi-calendar2-day"></i> 
                        Tarefas de hoje
                    </h2>

                    <div class="navCircle">
                        <div>
                            <i class="bi bi-circle-fill"></i>
                            <p>Urgente </p>
                        </div>
                        <div>
                            <i class="bi bi-circle-fill"></i>
                            <p>Importante</p>
                        </div>
                        <div>
                            <i class="bi bi-circle-fill"></i>
                            <p>Pode esperar</p>
                        </div>
                    </div>

                </div>


                <div class="scheduled">
                    <h2 class="scheduledBtn">
                        <i class="bi bi-clock-history"></i>
                        Tarefas agendadas
                    </h2>

                </div>

                <div class="setting">
                    <h2 class="settingBtn">
                        <i class="bi bi-gear-fill"></i>
                        Configurações
                    </h2>

                </div>

            </nav>

        </div>


        <div class="containerTask">

            <% let tasklistCopy = [] %>
            <% tasklist.forEach( (task) => {%>
                    <% tasklistCopy.push(task) %>
            <% }) %>

            <% const currentTimeT = new Date() %>
            <% tasklistCopy.sort((a, b) => { %>
                <% const timeA = currentTimeT - a.dateTime %>
                <% const timeB = currentTimeT - b.dateTime %>
                <% return timeB - timeA %>
              <% }) %>




            <div class="titleTask">
                <% let tasklistCopyToday = [] %>
                <% tasklistCopy.forEach( (task) => {%>

                    <% const dayTask = task.dateTime.getDate() == new Date().getDate() %>
                    <% const monthTask = task.dateTime.getMonth() == new Date().getMonth() %>
                    <% const yearTask = task.dateTime.getYear() == new Date().getYear() %>

                    <% if ( dayTask && monthTask && yearTask && !task.check) { %>
                        <% tasklistCopyToday.push(task) %>
                    <% } %>
                <% }) %>

                <% if (tasklistCopyToday.length > 0) { %>
                    

                    <h1>Agora o seu foco deve ser</h1>
                    <p>
                        <%= tasklistCopyToday[0].title %>, 
                        <%= tasklistCopyToday[0].dateTime.toLocaleString('pt-BR', { hour: '2-digit', minute: '2-digit' }) %> 
                    </p>
                <% } else { %>
                    <h1>Por enquanto, você não tem nada para focar</h1>
                    <p>Crie uma nova tarefa</p>
                <% } %>
            </div>

            <div class="formTask">
                <form id="formTask" action="/user/:id/createTask" method="post">
                    <div class="divFormMain">
                        <div class="divCircle">
                            <i class="bi bi-circle-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                        </div>
            
                        <input type="text" name="title" id="task" placeholder="Qual a sua próxima tarefa?" required>
            
                        <div class="divCalendar">
                            <i class="bi bi-clock-fill"></i>
                            <i class="bi bi-calendar2-plus-fill"></i>
                        </div>
                    </div>
            
                    <div class="labelTask">
                        <div>
                            <input type="radio" name="priority" id="priority-high" value="high" required>
                            <label for="priority-high">Urgente</label>
                        </div>
            
                        <div>
                            <input type="radio" name="priority" id="priority-medium" value="medium" required>
                            <label for="priority-medium">Importante</label>
                        </div>
            
                        <div>
                            <input type="radio" name="priority" id="priority-low" value="low" required>
                            <label for="priority-low">Pode esperar</label>
                        </div>
                    </div>
            
                    <div class="divDateTimeSubmit">
            
                        <div>
                            <input type="date" name="date" id="date">
                            <input type="time" name="time" id="time">
                        </div>
            
                        <input type="submit" name="submit" value="Adicionar">
                    </div>
            
                </form>
            </div>
            
            <ul class="tasklist">
                <% tasklist.reverse().forEach((element) => { %>

                    <% const dayEqual = element.dateTime.getDate() == new Date().getDate()%>
                    <% const monthEqual = element.dateTime.getMonth() == new Date().getMonth()%>
                    <% const yearEqual = element.dateTime.getYear() == new Date().getYear()%>

                    <% if(dayEqual && monthEqual && yearEqual) { %>
            
                        <li class="outputDiv">
                            <div class="outputCircle">
                                <i class="bi bi-circle-fill <%= element.priority %>"></i>
                            </div>
                            <div class="outputTaskTime">
                                <div class="outputTask">
                                    <% if(element.title.length <= 44) { %>
                                        <%= element.title %>
                                    <% } else { %>
                                        <%= element.title.substring(0, 44) + "..." %>
                                    <% } %>
                                </div>
                                <div class="outputTime">
                                    <%= element.dateTime.toLocaleString('pt-Br', { hour: '2-digit', minute: '2-digit' }) %>
                                </div>
                            </div>
                            <div class="checkboxTrash">
                                <a href="/user/:id/check/<%= element._id %> " class="checkbox">
                                    <!-- o icone será dinâmico: check-circle -->
                                    <% if( element.check ) { %>
                                        <i class="bi bi-check-circle"></i>
                                    <% } else { %>
                                        <i class="bi bi-circle"></i>
                                    <% } %>
                                </a>
                                <a href="/user/:id/deletetask/<%= element._id %>">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>

        <div class="containerScheduled">
            <% let tasklistCopyScheduled = [] %>

            

            <% tasklistCopy.forEach( (task) => {%>
                <% const dayTaskDifferent = task.dateTime.getDate() !== new Date().getDate() %>
                <% const monthTaskDifferent = task.dateTime.getMonth() !== new Date().getMonth() %>
                <% const yearTaskDifferent = task.dateTime.getYear() !== new Date().getYear() %>

                <% if (dayTaskDifferent || monthTaskDifferent || yearTaskDifferent) { %>
                    <% tasklistCopyScheduled.push(task) %>
                <% } %>
            <% }) %>

            <% if (tasklistCopyScheduled.length > 0) { %>

                <ul class="tasklist">
                    <% let previousDate = null; %>
                    <% tasklistCopyScheduled.forEach((element) => { %>

                        <% const currentDate = element.dateTime.toLocaleDateString(); %>

                        <% if (currentDate !== previousDate) { %>
                            <% previousDate = currentDate; %>
                            <p class="titleDateScheduled"><%= element.dateTime.getDate() %>, <%= element.dateTime.toLocaleString('default', { month: 'long', year: 'numeric' });%></p>
                        <% } %>
            
                        <li class="outputDiv">
                            <div class="outputCircle">
                                <i class="bi bi-circle-fill <%= element.priority %>"></i>
                            </div>
                            <div class="outputTaskTime">
                                <div class="outputTask">
                                    <% if(element.title.length <= 44) { %>
                                        <%= element.title %>
                                    <% } else { %>
                                        <%= element.title.substring(0, 44) + "..." %>
                                    <% } %>
                                </div>
                                <div class="outputTime">
                                    <%= element.dateTime.toLocaleString('pt-Br', { hour: '2-digit', minute: '2-digit' }) %>
                                </div>
                            </div>
                            <div class="checkboxTrash">
                                <a href="/user/:id/check/<%= element._id %> " class="checkbox">
                                    <!-- o icone será dinâmico: check-circle -->
                                    <% if( element.check ) { %>
                                        <i class="bi bi-check-circle"></i>
                                    <% } else { %>
                                        <i class="bi bi-circle"></i>
                                    <% } %>
                                </a>
                                <a href="/user/:id/deletetask/<%= element._id %>">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </li>
                        
                    <% }) %>
                </ul>
            <% } else { %>
                <h1> Sem tarefas agendadas no momento</h1>
            <% } %>

        </div>

        <div class="containerSettings">

            <div class="settingProfile">
                <div>
                    <i class="bi bi-person-circle"></i>
                    Perfil
                </div>

                <div>
                    Editar perfil
                    <i class="bi bi-chevron-right"></i>
                </div>

            </div>

            <div class="settingTheme">
                <div>
                    <i class="bi bi-palette"></i>
                    Aparência
                </div>

                <div>
                    Tema
                    <select name="" id="">
                        <option value="light">Light</option>
                        <option value="dark">Dark</option>
                    </select>
                </div>
            </div>

            <div class="settingBookmarks">
                <div>
                    <i class="bi bi-check-circle-fill"></i>
                    Marcadores
                </div>

                <div>
                    Editar marcadores
                    <i class="bi bi-chevron-right"></i>
                </div>

            </div>

            <div class="settingAccount">
                <div>
                    <i class="bi bi-file-earmark-richtext"></i>
                    Conta
                </div>

                <div>
                    Excluir sua conta
                    <i class="bi bi-chevron-right"></i>
                </div>

            </div>
            

        </div>
    </main> 

    <script src="/js/homeSwitchPage.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>